<div class="main">
  <div class="wrap">
    <p class="catch">みたい作品が、きっと見つかる。</p>

    <div class="serch">
      <%= form_tag({action: :index}, {method: :get}) do %>
      <br>

      <%= label_tag :name, '' %>
      <%= text_field_tag :name, @name ,class:'serch-box' , placeholder:'作品名'%>

      <%= submit_tag '', class:'serch-button', data: { disable_with: ''} %>
      <p class="txtxs">※作品名がヒットしない場合、英語入力も試してみてください</p>
    <% end %>
  </div>

  <% if @movies.present? %>

    <% @movies.each do |movie| %>
      <div class="pc-itembox clearfix">
        <div class="itembox clearfix">

          <div class="eyecatch"><%= image_tag 'https://image.tmdb.org/t/p/w500'+movie.poster_path.to_s %></div>

          <div class="title pc-layout"><%= movie.title %></div>
        </div>

        <div class="overview pc-layout"><%= movie.overview %></div>

        <div class="release pc-layout"><%= movie.release_date %></div>
        <div class="bookmarks pc-layout">
          <i class="fas fa-star"></i>
          <% if user_signed_in? %>
            <% unless movie.bookmarks.find_by(user_id: current_user.id).nil?  %>
              <%= form_tag('/bookmarks', :method => :delete) do %>
              <%= hidden_field_tag 'movie_id', movie.id %>
              <%= submit_tag 'お気に入り解除' %>
            <% end %>
          <% else %>
            <%= form_tag('/bookmarks', :method => :post) do %>
            <%= hidden_field_tag 'movie_id', movie.id %>
            <%= submit_tag 'お気に入りに追加' %>
          <% end %>
        <% end %>

      <% else %>
        <%= form_tag('/bookmarks', :method => :post) do %>
        <%= hidden_field_tag 'movie_id', movie.id %>
        <%= submit_tag 'お気に入りに追加' %>
      <% end %>
    </div>
    <br>

  <% end %>

  <% if !movie.vod_info.nil? and movie.vod_info.vod_services.size > 0 %>
    <% services = "" %>
      <% movie.vod_info.vod_services.each do |service| %>
        <span class="vod-index pc-layout">
          <% if service.name == 'Hulu' %>
            <span class="hulu">
              <a href="https://px.a8.net/svt/ejp?a8mat=2ZLP1F+FAPZCI+3TXU+62MDE"><img src="assets/huluapp.png" alt="huluの画像">
              </a>
            </span>

            <% elsif service.name == 'U-NEXT' %>
              <span class="unext">
                <a href="https://px.a8.net/svt/ejp?a8mat=2ZLP1F+F467OY+3250+6K736"><img src="assets/u-nextapp.png" alt="u-nextの画像">
                </a>
              </span>

              <% elsif service.name == 'dTV' %>
                <span class="dtv">
                  <a href="https://px.a8.net/svt/ejp?a8mat=2ZNAZO+9OW19U+2YOA+6SCAQ"><img src="assets/dtvapp.png" alt="dtvの画像">
                  </a>
                </span>

                <% elsif service.name == 'GYAO' %>
                  <span class="gyao">
                    <a href="https://gyao.yahoo.co.jp/"><img src="assets/gyaoapp.png" alt="gyaoの画像">
                    </a>
                  </span>

                  <% elsif service.name == 'Amazon Prime Video' %>
                    <span class="amazon">
                      <a href="https://www.amazon.co.jp/gp/video/storefront?benefitId=default&tag=okaset-22"><img src="assets/amazonapp.png" alt="amazonの画像">
                      </a>
                    </span>

                    <% elsif service.name == 'Netflix' %>
                      <span class="netflix">
                        <a href="https://www.netflix.com/jp/"><img src="assets/netflixapp.png" alt="netflixの画像">
                        </a>
                      </span>

                    <% end %>

                  <% end %>
                </span>
              <% else %>
                <p>無料で配信しているvodはありません</p>
              <% end %>
            </div>
          <% end %>

        <% end %>

      </div>
